* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

body,
html {
  padding: 0%;
  margin: 0%;
  position: relative;
}

.display-none {
  display: none;
}

.stop-scrolling {
  overflow: hidden;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.blur {
  filter: blur(0.5rem);
}

#exit-button:hover,
#detail-exit {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 330px;
  margin: auto;
  color: #6070ff;
  font-weight: 700;
}

.line {
  width: 25px;
  height: 3px;
  background: #6070ff;
  margin: 5px;
}

.hamburger {
  padding-right: 20px;
}

.logo-section {
  padding-left: 10px;
}

.links-section {
  display: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #6070ff;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #fff;
  min-width: 350px;
  min-height: 100vh;
  background-image: url(./images/hdrbckgrnd.svg);
  background-repeat: no-repeat;
}

.text-area {
  position: absolute;
  top: 7%;
  left: 45%;
  transform: translate(-40%, -50%);
}

.prymrytxt1 {
  color: #172b4d;
  margin: auto;
  font-size: 40px;
  line-height: 45px;
  width: 327px;
}

.prymrytxt2 {
  color: #344563;
  margin: auto;
  font-size: 16px;
  width: 327px;
}

.letsconnect {
  font-weight: 500;
  color: #7f8cff;
  font-size: 20px;
}

.socials {
  width: 170px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

ul {
  padding-inline-start: 0;
}

.port1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  max-width: 327px;
  margin: auto;
  margin-bottom: 70px;
}

.title {
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
}

.clnt {
  font-weight: 600;
  font-size: 13px;
  color: #344563;
}

.deets {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #7a869a;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 205px;
  padding: 0;
  list-style: none;
  gap: 8px;
}

.tgs {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  color: #6070ff;
}

.prjctbtn {
  display: flex;
  align-items: center;
  background: none;
  border: 2px solid #396df2;
  border-radius: 10px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 17px;
  color: #396df2;
  text-align: center;
  letter-spacing: 0.03em;
}

.prjctbtn:hover {
  background: #396df2;
  color: #fff;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  max-width: 330px;
  margin: auto;
}

.abtclmn {
  display: none;
  cursor: pointer;
}

.ctgry2 {
  font-weight: 500;
  font-size: 20px;
  color: #000;
}

.ctgry3 {
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #253858;
}

.icn {
  display: flex;
  flex-direction: row;
  background: #f7f7f9;
  border-radius: 8px;
  align-items: center;
  width: 327px;
  margin-bottom: 10px;
  padding: 8px 16px;
}

.rsmicn1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 14px 6px;
}

.crcl {
  padding: 2px;
}

.space {
  height: 80px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 375px;
  margin: auto;
  background-color: #6070ff;
  font-family: 'Poppins', sans-serif;
  background-image: url(./images/bglment.png);
  background-position: right 0% top;
  background-repeat: no-repeat;
  border-top-left-radius: 100px;
}

.contact-intro {
  display: inherit;
  flex-direction: column;
  align-items: center;
}

.cntct-ttl {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-style: normal;
  line-height: 52px;
  color: #fff;
  margin: 10px;
}

.cntct-info {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  text-align: center;
  width: 327px;
  color: #ebebff;
  font-size: 20px;
}

.frm-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 327px;
}

.frm-tgs {
  display: flex;
  align-items: center;
  padding: 12px;
  font-size: 17px;
  margin: 3%;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.sbmt-btn {
  background: #fff;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  width: 140px;
  padding: 6px 12px;
  color: #6070ff;
  letter-spacing: 0.03em;
  text-align: center;
  font-size: 17px;
  margin-left: 9px;
  margin-bottom: 3rem;
}

.sbmt-btn:hover {
  background: #7781e2;
  color: #fff;
}

.separator {
  background: #0d151e;
  width: 134px;
  height: 6px;
  margin-bottom: 7px;
  border-radius: 12px;
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
    cursor: pointer;
  }

  .links-section {
    margin-right: 20px;
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    font-weight: 500;
    font-size: 15px;
    list-style: none;
  }

  .lnks {
    color: #344563;
  }

  .navbar {
    width: 100vw;
  }

  .logo-section {
    padding: 10px 12px;
    margin-left: 4%;
    font-weight: 700;
    font-size: 18px;
    transform: rotate3d(0, 1, 1, 342deg);
  }

  /* Home section */

  .hme-txt1 {
    display: flex;
    align-items: center;
    width: 100%;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
    margin-block-end: auto;
    color: #091e42;
  }

  .hme-txt2 {
    display: flex;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    width: 60vw;
    color: #344563;
  }

  .lets {
    width: inherit;
  }

  /* Portfolio section */

  #portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 2094px;
    background-color: #f1f2f5;
  }

  .prt-img {
    width: 100%;
    height: 100%;
  }

  .prt-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 10px;
  }

  .prt-txt2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .prt-ttl {
    width: 496px;
    height: 40px;
    font-weight: 700;
    font-size: 40px;
    color: #091e42;
  }

  .frm2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    height: 30px;
  }

  .clnt {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
    padding: 8px;
  }

  .sprtr {
    padding: 5px;
    border-radius: 5px;
    background: #c1c7d0;
  }

  .deets {
    font-weight: 400;
    font-size: 18px;
    color: #6b778c;
  }

  /* About Section */

  .space {
    display: none;
    cursor: pointer;
  }

  #about {
    width: 100vw;
    height: 150vh;
  }

  .abttext {
    display: flex;
    gap: 30px;
    position: absolute;
    left: 30%;
  }

  .abt-txt1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20vw;
    margin-top: 13pc;
  }

  .abt-txt2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 13pc;
  }

  .abt-prymrytxt1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    margin-bottom: 2px;
    color: #091e42;
    padding: unset;
  }

  .abt-prmrytxt2 {
    padding: unset;
    margin: unset;
    font-weight: 400;
    color: #344563;
  }

  /* Contact Section */

  .separator {
    display: none;
  }

  .contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 1fr 2fr 1fr;
    background-image: url(./images/cntctbckgrndpic.svg);
    background-repeat: no-repeat;
    background-color: #6070ff;
    border-top-left-radius: 120px;
    width: 100vw;
    padding: 90px;
  }

  .sctn-1,
  .sctn-2,
  .sctn-3 {
    background-image: inherit;
  }

  .sctn-2 {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .cntct-ttl {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #fff;
  }

  .cntct-info {
    display: table-footer-group;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    align-content: center;
    text-align: center;
    width: 50%;
    color: #ebebff;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0.9em;
  }

  .frm-inputs {
    display: contents;
  }

  .frm-tgs {
    display: flex;
    padding: 12px;
    width: 80%;
    font-size: 17px;
    margin: 3%;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
  }

  .sbmt-btn {
    background: #fff;
    border: 1px solid #7f8cff;
    border-radius: 8px;
    padding: 6px 12px;
    color: #6070ff;
    letter-spacing: 0.03em;
    text-align: center;
    font-size: 17px;
    margin-left: 9px;
    margin-bottom: 3rem;
  }

  .sbmt-btn:hover {
    background: #7781e2;
    color: #fff;
  }
}

/* Navigation Modal */

.modal {
  background-color: rgba(96, 112, 255, 0.9);
  height: 100vh;
  position: absolute;
  z-index: 4;
  width: 100%;
}

.modal__navigation ul {
  list-style: none;
  padding-left: 0;
}

.modal__navigation__li {
  margin-bottom: 1.8rem;
}

.modal__navigation__li a {
  color: #fff;
  text-transform: capitalize;
  font-size: 2.3rem;
}

.modal__exit-button {
  color: #fff;
  display: flex;
  justify-content: end;
  padding: 25px 0;
}

.project-details {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  background-color: #fff;
  border-radius: 20px;
  padding: 23px;
  width: 85%;
  border: 1px solid #cfd8dc;
}

.project-detail__tags p {
  margin: 0;
  color: #344563;
  font-weight: 700;
}

.project-detail__tags span {
  color: #7a869a;
}

.project-detail__tags {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.project-detail__bullet {
  height: 7px;
}

.project-detail__description {
  color: #344563;
}

.project-detail__technologies {
  display: flex;
  gap: 10px;
}

.project-detail__technologies li {
  list-style: none;
  background-color: #ebebff;
  color: #6070ff;
  padding: 4px 12px;
  border-radius: 8px;
  font-size: 13px;
}

.project-detail__button {
  background-color: #fff;
  border: 1px solid #6070ff;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  color: #396df2;
  gap: 10px;
}

.project-detail__buttons {
  display: flex;
  gap: 15px;
}

.project-detail__header {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
  align-items: center;
}

.project-detail__imgDiv img {
  width: 1000px;
  max-width: 100%;
}

@media (min-width: 768px) {
  .project-detail__textDiv {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 15px;
  }

  .project-detail__button {
    padding: 5px 10px;
    font-size: 11px;
  }

  .project-detail__buttons {
    gap: 3px;
  }
}

.project-detail__line {
  border: 1px solid #ebecf0;
  margin: 20px 0;
}

.project-detail__header h2 {
  margin: 0;
}
